<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="mask" class="com.example.labb_microservices.common.logging.LogMaskingConverter" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %mask(%msg%n%ex)%nopex</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
